*{
    font-family: serif;
}

article, aside, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}

body{
    width:1024px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.75);
}

.bodycont{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 950px;
    margin: 0px 0px 0px 37px;
    display: block;
}

header{
    background: rgba(00, 140, 153, 1);
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
     border-radius: inherit;
}

.banner{
    font-size: 3.2em;
    text-shadow:    #ABD 0px 2px 1px,
                    #ABD 2px 4px 2px,
                    #ABD 4px 6px 3px,
                    #ABD 6px 8px 4px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

footer{
    -webkit-border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    -moz-border-radius-bottomright: inherit;
    -moz-border-radius-bottomleft: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    background: #000;
    color:#fff;
    text-align: center;
    font-size: 70%;
    padding: 5px 20px 2px 20px;
}

footer a{
    color:#fff;
}

footer a:hover{
    text-decoration: none;
}

menu{
    font-size:13px;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    float: left;
    width: 950px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
     border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #008c99;
    page-size: 14px;
}

menu ul{
    margin: 0px;
    padding: 0px 0px 0px 10px;
    display:block;
    list-style-type:none;
    position: relative;
}

menu li{
    padding: 5px 0px;
    position:relative;
    float:left;
}

menu li a{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    text-decoration:none;
    background-color: #008c99;
}
menu li a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f47b22;
    border-bottom: 1px solid #f47b22;
}

menu li ul {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:none;
    position:absolute;
    top:26px;
    width: 240px;
    padding:0;
    list-style-type:none;
    background-color: #000;
}

menu li ul :hover{
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    background-color: #f47b22;
}

menu li ul li {
    width: 220px;
    border-top:none;
    padding: 10px 10px;
}

menu li ul li:first-child {
    /*border-top: 1px solid #008c99;*/
}

menu li ul li a {
    width: 240px;
    margin: 0;
    padding:0;
}

menu li ul li a {
    background-color: transparent;
}

menu li ul li a:hover {
    width: 240px;
    margin: 0;
}

.maincont{
    clear: both;
    padding: 5px 20px 5px 20px;
    background: #B0B0B0;
}

.form_error, .form_success, .form_warning{
    font: normal normal 300 13px/16px Arial, Helvetica, sans-serif;
    margin: 10px 0;
    padding: 5px;
    text-indent: 25px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.form_error{
    background: #FEF1EC no-repeat 8px 5px;
    border: 1px solid #CD0A0A;
    color: #CD0A0A;
}
.form_success{
    background: #D8FFD3 no-repeat 8px 5px;
    border: 1px solid #337C2A;
    color: #337C2A;
}
.form_warning{
    background: #FFECD3 no-repeat 8px 5px;
    border: 1px solid #7C502A;
    color: #7C502A;
}

form{
    display: block;
    margin: 20px auto;
    background: #eee;
    border-radius: 10px;
    padding: 15px;
    font-size: 13px;
}

label{
    text-align: right;
    display: block;
    float: left;
    width: 150px;
    padding-right: 3px;
}

form br{
    clear:left;
}

.right_email{
    margin-left: 25px;
}

.input_email, .input_name{
    width: 170px;
}

fieldset{
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

fieldset input,select,span{
    margin-bottom: 10px;
    margin-top: -1px;
}

fieldset div{
    vertical-align: middle;
}

#progress{
    position:relative;
    width:400px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

#bar{background-color: #B4F5B4;
    width:0%;
    height:20px;
    border-radius: 3px;
}

#percent{
    position:absolute;
    display:inline-block;
    top:3px;
    left:48%;
}

#notifications ul{
    list-style-type: none;
    padding: 0px;
}

.list{
    display: block;
    margin: 20px auto;
    background: #eee;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    overflow: auto;
}

.list_row, .list_cell{
    cursor: pointer;
}

.list_row:hover, .list_cell:hover{
    color: darkblue;
    text-decoration: underline;
}

ul.pagination{
    border:0;
    margin: 10px 0px;
    padding:0;
    list-style: none;
    cursor:default;
    font-size: 13px;
}

ul.pagination li{
    border:solid 1px #FFFFFF;
    margin-top: 20px;
    padding: 3px;
    background: white;
    display:inline;
    border: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

li.active{
    color:blue;
    cursor:pointer;
}

li.inactive{
    color:gray;
}

.accordion_row_even, .accordion_row_noon{
    clear:both;
    float:right;
    line-height: 1.5em;
    border-radius: 5px;
    margin-top: 0.2em;
}

.accordion_row_header{
    background-color: rgba(244, 123, 34, 0.45);
    font-weight: bold;
    height: 1.5em;
    border-radius: 5px;
    float: right;
}

.accordion_row_even{
    background-color: rgba(0, 140, 153, 0.25);
}

.accordion_row_noon{
    background-color: rgba(244, 123, 34, 0.25);
}

.accordion_cell{
    float:right;
    width: 50px;
    padding: 2px 0px 2px 6px;
}

.accordion_cell_header{
    float:right;
    width: 50px;
    padding: 2px 0px 2px 6px;
    margin-top: 5px;
}

.accordion_header_cell{
    display:table;
    float:right;
    margin-top:-8px;
    width:50px;
    padding: 2px 0px 2px 6px;
}

.report_header{
    height: 25px;
    border-radius: 5px;
    border: 1px solid #009cA9;
    background: #008c99 url(images/ui-bg_highlight-hard_20_0972a5_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
    clear:both;
}

.report_header_cell{
    display:block;
    margin-top: 3px;
    float:right;
    width:50px;
    padding: 2px 0px 2px 6px;
}

.report_legend{
    border: 1px solid #555555;
    background: #000000 url(images/ui-bg_loop_25_000000_21x21.png) 50% 50% repeat;
    color: #ffffff;
    border-radius: 7px;
    margin: 2px 0px 10px 0px;
    display:none;
}

.report_legend_row{
    clear: both;
    height: 15px;
    list-style: none;
}

.report_legend_title{
    float:left;
    width: 50px;
}

.report_legend_value{
    float: left;
}